<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myapp.tremplist_update">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tremplist_logo"
        android:label="TrempList"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tremplist_update">

        <activity
            android:name=".viewModel.PersonalUserInfoActivity"
            android:exported="true"
            android:label="update details"
            android:launchMode="singleTop"
            android:parentActivityName=".viewModel.MainActivity" />

        <activity
            android:name=".viewModel.PopUpWindow"
            android:theme="@style/AppTheme.popMe"
            android:exported="false"/>

        <activity
            android:name=".viewModel.DriverFirstPage"
            android:exported="true"
            android:label="Driver Page"
            android:launchMode="singleTop"
            android:parentActivityName=".viewModel.MainActivity" />
        <activity
            android:name=".viewModel.Publish_activity"
            android:exported="true"
            android:label="Publish ride"
            android:launchMode="singleTop"
            android:parentActivityName=".viewModel.DriverFirstPage" />
        <activity
            android:name=".viewModel.My_rides_Driver_Activity"
            android:exported="true"
            android:label="My rides"
            android:launchMode="singleTop"
            android:parentActivityName=".viewModel.DriverFirstPage" />
            android:parentActivityName=".UI.DriverFirstPage"/>

        <activity
            android:name=".viewModel.My_requests_Activity"
            android:launchMode="singleTop"
            android:exported="true"
            android:label="My rides"
            android:parentActivityName=".viewModel.PassengerFirstPage"/>

        <activity
            android:name=".viewModel.driver_waiting_listActivity"
            android:exported="true"
            android:label="My rides"
            android:launchMode="singleTop"
            android:parentActivityName=".viewModel.DriverFirstPage" />
        <activity
            android:name=".viewModel.My_rides_Passenger_Activity"
            android:exported="true"
            android:label="My rides"
            android:launchMode="singleTop"
            android:parentActivityName=".viewModel.PassengerFirstPage" />
        <activity
            android:name=".viewModel.PassengerFirstPage"
            android:exported="true"
            android:label="Passenger Page"
            android:launchMode="singleTop"
            android:parentActivityName=".viewModel.MainActivity" />
        <activity
            android:name=".viewModel.Search_ridesActivity"
            android:exported="true"
            android:label="Search ride"
            android:launchMode="singleTop"
            android:parentActivityName=".viewModel.PassengerFirstPage" />
        <activity
            android:name=".viewModel.show_search_resultsActivity"
            android:exported="true"
            android:label="Rides"
            android:launchMode="singleTop"
            android:parentActivityName=".viewModel.Search_ridesActivity" />

        <service
            android:name=".fireBase.FirebaseMessagingService"
            android:exported="false"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".viewModel.LoginActivity" />
        <activity android:name=".viewModel.ForgotPasswordActivity" />
        <activity android:name=".viewModel.RegisterActivity" />
        <activity android:name=".viewModel.MainActivity" />
        <activity
            android:name=".viewModel.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>